@charset "utf-8";

/*
 * Responsively Lazy
 * http://ivopetkov.com/b/lazy-load-responsive-images/
 * Copyright 2015-2017, Ivo Petkov
 * Free to use under the MIT license.
*/

.responsively-lazy:not(img) {
    position: relative;
    height: 0
}

.responsively-lazy:not(img)>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

img.responsively-lazy {
    width: 100%;
}
/* CSS Document */

* {
    box-sizing: border-box;
}

body,
td,
th,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}

a {
    color: #ab5d00;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

main {
    background-color: #f3f3f3;
    min-height: 100%;
    max-width: 1100px;
    margin: auto;
}

main:after {
    display: block;
    content: "";
    clear: both;
}

#footer {
    background-color: #000;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
}


/* ====================== Navigation ====================== */

.main-nav {
    width: 100%;
    height: 5rem;
    background-color: #252831;
    text-align: center;
}

.main-nav h1 {
    line-height: 5rem;
    margin: auto;
}

.main-nav h1 a {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.breadcrumbs {
    max-width: 1100px;
    margin: auto;
}

#breadcrumb {
    padding: 15px 30px;
    background-color: #eee;
    margin: 0;
}


/* Display list items side by side */

#breadcrumb li {
    font-size: 1.5rem;
    display: inline;
}


/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}


/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Map ====================== */

#map {
    height: 30rem;
}


/* ====================== Restaurant Filtering ====================== */

.filter-options {
    padding-top: 10px;
    height: auto;
    text-align: center;
    background-color: #3397DB;
    align-items: center;
}

.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 20px;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-size: 0.9rem;
    margin: 10px;
    padding: 10px;
    width: 200px;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
}

#restaurants-list:after {
    content: "";
    display: table;
    clear: both;
}

#restaurants-list li {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 8px;
    text-align: center;
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: auto;
    max-width: 100%;
}

#restaurants-list .restaurant-name {
    color: #ab5d00;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

#restaurants-list li a,
#load_map {
    background-color: #ab5d00;
    border: none;
    /*border-bottom: 3px solid #eee;*/
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


/* ====================== Restaurant Details ====================== */

.inside header {
    width: 100%;
}

.inside #map-container {
    height: 100%;
    width: 100%;
}

#restaurant-name {
    color: #ab5d00;
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 30px;
    text-transform: uppercase;
    line-height: 1;
}

#restaurant-address {
    font-size: 1.3rem;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid transparent;
    border-top: 1px solid #fff;
    padding: 25px 15px;
}

#reviews-container .review-title {
    color: #ab5d00;
    font-size: 2rem;
    font-weight: 400;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list .name {
    background: #000;
    color: #fff;
    padding-left: 1rem;
    font-size: 1.1rem;
    line-height: 3rem;
    border-top-left-radius: 1rem;
}

#reviews-list .date {
    float: right;
    position: relative;
    top: -2.8rem;
    color: #ccc;
}

#reviews-list .rating {
    background: #ab5d00;
    color: #fff;
    display: inline-block;
    margin-left: 1rem;
    line-height: 1.5rem;
    border-radius: 0.2rem;
}

#reviews-list .comments {
    padding-bottom: 1rem;
    text-align: justify;
}

#reviews-list li {
    background-color: #fff;
    list-style-type: none;
    margin: 0 0 30px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#reviews-list li p {
    margin: 0 0 10px;
    padding: 0 1rem;
}

#restaurant-hours {
    min-width: 270px;
}

#restaurant-hours td {
    color: #666;
    padding: 5px;
    border-top: 1px solid #fff;
    font-size: 1rem;
}

#restaurant-hours td.time {
    text-align: right;
}

.one-whole {
    width: 100%;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33.3333%;
}

.one-quarter {
    width: 25%;
}

.one-fifth {
    width: 20%;
}

.one-sixth {
    width: 16.6666%;
}

.one-eighth {
    width: 12.5%
}

.one-tenth {
    width: 10%;
}

@media screen and (max-width: 640px) {
    .small--one-whole {
        width: 100%;
    }
    .small--one-half {
        width: 50%;
    }
    .small--one-third {
        width: 33.3333%;
    }
    .small--one-quarter {
        width: 25%;
    }
    .small--one-fifth {
        width: 20%;
    }
    .small--one-sixth {
        width: 16.6666%;
    }
    .small--one-eighth {
        width: 12.5%
    }
    .small--one-tenth {
        width: 10%;
    }
    .small--one-half,
    .small--one-third,
    .small--one-quarter,
    .small--one-fifth,
    .small--one-sixth,
    .small--one-eighth,
    .small--one-tenth {
        float: left;
    }
    #restaurant-hours {
        width: 100%;
        max-width: 350px;
        margin: auto;
    }
    #restaurant-name,
    #restaurant-address,
    .review-title {
        text-align: center;
    }
}

@media screen and (min-width: 641px) {
    .medium--one-whole {
        width: 100%;
    }
    .medium--one-half {
        width: 50%;
    }
    .medium--one-third {
        width: 33.3333%;
    }
    .medium--one-quarter {
        width: 25%;
    }
    .medium--one-fifth {
        width: 20%;
    }
    .medium--one-sixth {
        width: 16.6666%;
    }
    .medium--one-eighth {
        width: 12.5%
    }
    .medium--one-tenth {
        width: 10%;
    }
    .medium--one-half,
    .medium--one-third,
    .medium--one-quarter,
    .medium--one-fifth,
    .medium--one-sixth,
    .medium--one-eighth,
    .medium--one-tenth {
        float: left;
    }
    .main-nav h1 a {
        font-size: 1.6rem;
        letter-spacing: 5px;
    }
}

@media screen and (min-width:960px) {
    .large--one-whole {
        width: 100%;
    }
    .large--one-half {
        width: 50%;
    }
    .large--one-third {
        width: 33.3333%;
    }
    .large--one-quarter {
        width: 25%;
    }
    .large--one-fifth {
        width: 20%;
    }
    .large--one-sixth {
        width: 16.6666%;
    }
    .large--one-eighth {
        width: 12.5%
    }
    .large--one-tenth {
        width: 10%;
    }
    .large--two-thirds {
        width: 66.6666%;
    }
    .large--two-fifths {
        width: 40%;
    }
    .large--three-fifths {
        width: 40%;
    }
    .large--one-half,
    .large--one-third,
    .large--one-quarter,
    .large--one-fifth,
    .large--one-sixth,
    .large--one-eighth,
    .large--one-tenth,
    .large--two-thirds,
    .large--two-fifths,
    .large--three-fifths {
        float: left;
    }
}
